<div id="home">
    <section id="current-auctions">
        <div class="basic">
            <h1>CURRENT AUCTIONS</h1>
            <div class="info">
                <img class ="pic" src="img/1.jpg">
                <ul>
                    <li><h3>GUCCI BOTY</h3></li>
                    <li><h3>CURRENT PRICE</h3>95eur</li>
                    <li><h3>TIME REMAINING</h3>3:12:52</li>
                    <li><a class="button" href="#section-it" >SUBMIT BID</a></li>
                </ul>
            </div>
        </div>

    </section>

    <section id="FINISHED AUCTIONS">
        <div class="basic">
            <h1>FINISHED AUCTIONS</h1>
            <div class="info">
                <img class ="pic" src="img/1.jpg">
                <ul>
                    <li><h3>MACBOOK PRO</h3></li>
                    <li><h3>WINNING BID</h3>95eur</li>
                    <li><h3>WINNER</h3>FERO</li>
                </ul>
            </div>
        </div>
    </section>
</div>