<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="App/View/Stylesheet/master.css">
</head>
<div id="create_form" class="container-fluid">
    <div class="container">
        <h2 class="text-center" id="title">Literator page</h2>
        <hr>
        <div class="row">
            <div class="col-md-5">
                <div class="info">
                    <img class ="pic" src="img/1.jpg">

                    <ul>
                        <li><h3>GUCCI BOTY</h3></li>
                        <li><h3>STARTING PRICE</h3>95eur</li>
                        <li><h3>DLZKA AUKCE</h3>3:12:52</li>
                        <li><h3>ZAKLADATEL AUKCE</h3>3:12:52</li>
                        <li><h3>INFO</h3>sadsdqweadsadasd</li>
                        <li><a class="button" href="#" >APPROVE AUCTION</a></li>
                        <li><a class="button" href="#" >DISAPPROVE AUCTION</a></li>
                    </ul>
                </div>




            </div>
        </div>
    </div>
</div>