<div id="login_form" class="container-fluid">
  <div class="container">
    <h2 class="text-center" id="title">Web bids login page</h2>
    <hr>
    <div class="row">
      <div class="col-md-5">
        <form role="form" method="post" action="login/register">
          <fieldset>
            <p class="text-uppercase pull-center">SIGN UP: </p>
            <p style="color: red" id="r-error"></p>
            <div class="form-group">
              <input type="login"  id="r-login" class="form-control input-lg" placeholder="Username*">
            </div>
            <div class="form-group">
              <input type="email"  id="r-email" class="form-control input-lg" placeholder="Email Address*">
            </div>
            <div class="form-group">
              <input type="password"  id="r-password" class="form-control input-lg" placeholder="Password*">
            </div>
            <div class="form-group">
              <input type="password"  id="r-password2" class="form-control input-lg" placeholder="Password again*">
            </div>
            <div class="form-group">
              <input type="text"  id="country_address" class="form-control input-lg" placeholder="Country">
            </div>
            <div class="form-group">
              <input type="text"  id="city_address" class="form-control input-lg" placeholder="City">
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" id="agreement" class="form-check-input">
                By Clicking register you're agree to our policy & terms
              </label>
            </div>
            <div>
              <input type="button" class="btn btn-lg btn-primary"  onclick="attempt_register()" value="Register">
            </div>
          </fieldset>
        </form>
      </div>

      <div class="col-md-2">
        <!-------null------>
      </div>

      <div class="col-md-5">
        <form role="form">
          <fieldset>
            <p class="text-uppercase"> Login using your account: </p>
            <p style="color: red" id="l-error"></p>
            <div class="form-group">
              <input type="login" name="login" id="login" class="form-control input-lg" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
            </div>
            <div>
              <input type="button" onclick="attempt_login()" class="btn btn-md" value="Sign In">
            </div>
          </fieldset>
        </form>
        <script>
          function attempt_login(result = ''){

            let email = document.getElementById('login').value;
            let password = document.getElementById('password').value;
            let error = document.getElementById('l-error');

            if (email === ''){
              error = 'Enter your email!';
              return;
            }
            if (password === ''){
              error = 'Enter your password!';
              return;
            }

            // first call
            if (result === '') {
              validate_login(email, password, attempt_login);
            }

            // callback success
            else if(result[0] === '1'){
              document.getElementById('login_form').innerHTML = '<h1>Wellcome back user '+result.substr(1)+'!</h1>';
            }

            // display error message
            else{
              document.getElementById('l-error').innerHTML = result;
            }
          }
          function attempt_register(result = ''){

            // first call
            if (result === '') {

              // get form values
              let username = document.getElementById('r-login').value;
              let password = document.getElementById('r-password').value;
              let password2 = document.getElementById('r-password2').value;
              let email = document.getElementById('r-email').value;
              let country = document.getElementById('country_address').value;
              let city = document.getElementById('city_address').value;
              let agreement = document.getElementById('agreement').checked;
              let error = document.getElementById('r-error');

              // check form input
              if (username === "" || password === "" || password2 === "" || email === ""){
                error.innerHTML = "Please fill mandatory fields marked with *";
                return;
              }

              if (password !== password2) {
                error.innerHTML = "Passwords must match!";
                return;
              }

              if (!agreement){
                error.innerHTML = "Must agree to out our terms";
                agreement.style.color = "red";
                return;
              }

              // proceed to register
              validate_register(username, password, email, country, city, attempt_register);
            }

            // callback success
            else if(result[0] === '1'){
              document.getElementById('login_form').innerHTML = '<h1>Thank you for registering user '+result.substr(1)+'!</h1>';
            }

            // display error message
            else{
              document.getElementById('r-error').innerHTML = result;
            }

          }
        </script>
      </div>
    </div>
  </div>
</div>

