<div class="container-fluid">
  <div class="container">
    <h2 class="text-center" id="title">Aukcie </h2>
    <hr>
    <div class="row">
      <div class="col-md-5">
        <form role="form" method="post" action="login/register">
          <fieldset>
            <p class="text-uppercase pull-center"> SIGN UP:</p>
            <div class="form-group">
              <input type="login" name="login" id="r-login" class="form-control input-lg" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="email" name="email" id="r-email" class="form-control input-lg" placeholder="Email Address">
            </div>
            <div class="form-group">
              <input type="password" name="password" id="r-password" class="form-control input-lg" placeholder="Password">
            </div>
            <div class="form-group">
              <input type="password" name="password2" id="r-password2" class="form-control input-lg" placeholder="Password again">
            </div>
            <div class="form-group">
              <input type="text" name="address" id="country_address" class="form-control input-lg" placeholder="Country">
            </div>
            <div class="form-group">
              <input type="text" name="address" id="city_address" class="form-control input-lg" placeholder="City">
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                By Clicking register you're agree to our policy & terms
              </label>
            </div>
            <div>
              <input type="button" class="btn btn-lg btn-primary"  onclick="attempt_register()" value="Register">
            </div>
          </fieldset>
        </form>
      </div>

      <div class="col-md-2">
        <!-------null------>
      </div>

      <div class="col-md-5">
        <form role="form">
          <fieldset>
            <p class="text-uppercase"> Login using your account: </p>
            <div class="form-group">
              <input type="login" name="login" id="login" class="form-control input-lg" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
            </div>
            <div>
              <input type="button" onclick="attempt_login()" class="btn btn-md" value="Sign In">
            </div>
          </fieldset>
        </form>
        <script>
          function attempt_login(result = ''){
            if (result === '') {
              validate_login(document.getElementById('login').value, document.getElementById('password').value, attempt_login);
            }
            else{
              console.log(result);
            }
          }
          function attempt_register(result = ''){
            if (result === '') {
              register(document.getElementById('r-login').value, document.getElementById('r-password').value, document.getElementById('r-email').value, document.getElementById('r-address').value,  attempt_register);
            }
            else{
              console.log(result);
            }
          }
        </script>
      </div>
    </div>
  </div>
  <p class="text-center">
    <small id="passwordHelpInline" class="text-muted"> Developer:<a href="http://www.psau.edu.ph/"> Pampanga state agricultural university ?</a> BS. Information and technology students @2017 Credits: <a href="https://v4-alpha.getbootstrap.com/">boostrap v4.</a></small>
  </p>
</div>



<!--<div id="login_form_wrapper">
  <form style="display: none" method="post" id="login_form" action="login/validate_login">
    <select>
      <option value="admin">Admin</option>
      <option value="bidder">Bidder</option>
    </select>
    <label for="email">Your email:</label>
    <input id="email" type="email" name="email" value="@" style="text-align: center">
    <label for="password">Password:</label>
    <input id="password" type="password" name="password">
    <input type="submit" value="Login">
  </form>
  <form style="display: none" id="reg_form" method="post" action="error">
    <label for="reg_name">Your username:</label>
    <input id="reg_name" type="text">
    <label for="reg_email">Your email:</label>
    <input id="reg_email" type="email">
    <label for="reg_pass">Your new password:</label>
    <input id="reg_pass" type="password">
    <input type="submit" value="Register">
  </form>
  <div id="yes/no">
    <button id="yes">Yes</button>
    <button id="no">No</button>
  </div>-->
<!--<div class="form">
  <div class="title">Welcome</div>
  <div class="subtitle">Let's create your account!</div>
  <div class="input-container ic1">
    <input id="firstname" class="input" type="text" placeholder=" " />
    <div class="cut"></div>
    <label for="firstname" class="placeholder">First name</label>
  </div>
  <div class="input-container ic2">
    <input id="lastname" class="input" type="text" placeholder=" " />
    <div class="cut"></div>
    <label for="lastname" class="placeholder">Last name</label>
  </div>
  <div class="input-container ic2">
    <input id="email" class="input" type="text" placeholder=" " />
    <div class="cut cut-short"></div>
    <label for="email" class="placeholder">Email</>
  </div>
  <button type="text" class="submit">submit</button>
</div>

<style>
  body {
    align-items: center;
    background-color: blue;
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  .form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
  }

  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }

  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }

  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }

  .ic1 {
    margin-top: 40px;
  }

  .ic2 {
    margin-top: 30px;
  }

  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }

  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }

  .cut-short {
    width: 50px;
  }

  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }

  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }

  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }

  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }

  .input:focus ~ .placeholder {
    color: #dc2f55;
  }

  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
  // outline: 0;
    text-align: center;
    width: 100%;
  }

  .submit:active {
    background-color: white;
  }
  </style>
-->
<!--<script type="text/javascript">
  window.onload = function (){
    document.getElementById('yes').onclick = function (){
      document.getElementById('login_form').style.display = 'flex';
      document.getElementById('yes/no').style.display = 'none';
      document.getElementById('desc').innerHTML = 'Login to your account';
    }
    document.getElementById('no').onclick = function (){
      document.getElementById('reg_form').style.display = 'flex';
      document.getElementById('yes/no').style.display = 'none';
      document.getElementById('desc').innerHTML = 'Register new account';
    }
  }
</script>
</div>-->


