#login_form_wrapper, #home{
    text-align: center;
    margin: 200px 20vw;
    width: 60vw;
}
#header{
    margin: 100px;
}
#header_nav {
    margin: 50px;
}
#login_form, #reg_form{
    width: 10vw;
    margin: 20px 5vw;
    flex-direction: column;
    flex-wrap: wrap;
}
html {
    scroll-behavior: smooth;
}

/*@viewport{*/
/*    zoom: 1;*/
/*    width: extend-to-zoom;*/
/*}*/

/*@-ms-viewport{*/
/*    zoom: 1;*/
/*    width: extend-to-zoom;*/
/*}*/
body{
    min-width: 500px;
    max-width: 1140px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    box-sizing: border-box;
    font-family: "Roboto", Courier, monospace;
    background-color: rgb(180, 167, 143);
    overflow: auto;

}
.basic {
    float: left;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    color: rgb(0, 0, 0);

    margin: 0 auto;
}
.info h3{
    min-width: 150px;
}
.basic h1{
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
}